@model IEnumerable<VMS.Models.OpportunityModel>
@{
    ViewBag.Title = "Search for a Volunteering Opportunity";
}

<form asp-controller="Opportunity" asp-action="SearchOpp" method="get">
    <p>
        Name of Opportunity: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
@foreach (var item in Model)
{
    <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Center)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tags)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Days)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Center)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
            </tr>
    </table>



}